body {
  font-family: 'Lato', sans-serif;
  background-color: tan;
  color: rgb(89, 50, 50);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.auth-form div {
  margin: 1em;
  display: inline-block;
}

/* CUSTOM */

/* LOCATIONS  */

.container {
  display: flex;
  justify-content: space-evenly;
}

.panel {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 50vh;
  margin: auto 2%;
}

.location {
  border: black solid 1px;
  padding: 1vw;
  margin: 1vw;
}

/* NAVBAR */

.header {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  top: 0vh;
  background-color: tan;
  width: 100%;
}

.logo {
  padding-left: 2vw;
  font-family: 'Fredoka One', Impact, 'Arial Narrow Bold', sans-serif;
}

img {
  max-height: 25vh;
}

/* OTHER */

.page-top {
  position: relative;
  top: 23vh;
  margin: 0 auto;
  width: 80%;
}

.map-panel {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 600px;
}

/* FORMS */

.reason-input {
  width: 500px;
  height: 250px;
}

.review-form {
  display: flex;
  flex-direction: column;
}

.review-form div {
  margin: 5px;
}

/* USERS */

.user-list {
  display: flex;
  padding: 2vw;
}

button {
  margin-left: 1vw;
  margin-right: 1vw;
}

/* MEDIA QUERIES */

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }
  .panel {
    height: 40vh;
    flex-direction: row;
  }
  .map-panel {
    width: 100vw;
    height: 30vh;
  }
  .page-top {
    top: 30vh;
    margin: 0;
    width: 100%;
  }
  .header {
    display: inline-block;
  }
  .location {
    /* height: 50vh; */
    min-width: 50vw;
  }

  img {
    display: none;
  }
}
