body {
  font-family: sans-serif;
  background-color: tan;
  color: rgb(89, 50, 50);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* CUSTOM */

/* LOCATIONS  */

.container {
  display: flex;
  justify-content: space-evenly;
}

.panel {
  display: flex;
  flex-direction: column;
  margin-right: 60vw;
}

.location {
  border: black solid 1px;
  padding: 5px;
  margin: 5px;
}

/* OTHER */

.header {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 1;
  top: 0px;
  background-color: tan;
}

.map-panel {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: 25vw;
}

.page-top {
  position: relative;
  top: 60px;
}
