body {
  font-family: sans-serif;
  background-color: tan;
  color: rgb(89, 50, 50);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* CUSTOM */

/* LOCATIONS  */

.container {
  display: flex;
  justify-content: space-evenly;
}

.locations {
  display: flex;
  flex-direction: column;
}

.location {
  border: black solid 1px;
  padding: 5px;
  margin: 5px;
}

/* OTHER */

.header {
  /* position: fixed; */
  display: flex;
  align-items: center;
}

.map {
  position: fixed;
}
